$radial-gradient: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));

// option borders/box-shadows
$rock-1: hsl(349, 66%, 47%);
$rock-2: hsl(349, 70%, 56%);
$paper-1: hsl(230, 67%, 54%);
$paper-2: hsl(230, 89%, 65%);
$scissors-1: hsl(39, 91%, 43%);
$scissors-2: hsl(40, 84%, 53%);

// neutral
$dark-text: hsl(229, 25%, 31%);
$score-text: hsl(229, 64%, 46%);
$header-outline: hsl(217, 16%, 45%);

// sizes

$option-min: 10rem;
$option-max: 15rem;



