.modal {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transform: scale(0);
  transition: 0.2s ease-in;

  @include respond(bigger-screen) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    border-radius: 1rem;
    padding: 4rem;
    width: 40rem;
    height: 45rem;
  }

  &__header {
    color: $dark-text;
    font-size: 3rem;
    text-transform: uppercase;
  }

  &__img {
    @include respond(bigger-screen) {
      order: 1;
      justify-self: center;
    }
  }
}

.modal__close {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  transition: 0.3s ease-in-out;

  &:hover {
    background-color: rgb(211, 211, 211);
    cursor: pointer;
  }
}

.modal.show {
  transform: scale(1);
}
