.option {
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 10rem;
  position: absolute;
  pointer-events: all;
  transform-origin: center;
  transition: 0.3s ease-in;

  & > img {
    pointer-events: none;
  }

  @media only screen and (min-width: 768px) {
    width: 15rem;
    height: 15rem;

    & > img {
      width: 6.5rem;
      height: auto;
    }
  }

  &:hover {
    transform: translateY(-3px);
    cursor: pointer;
  }
}

.paper {
  box-shadow: 0 0 2px 2rem $paper-dark, inset 0 7px 2px 0 rgba(0, 0, 0, 0.2),
    inset 0 10px 2px 0 rgba(0, 0, 0, 0), 0 1rem 0 2rem #253cad;

  top: -5rem;
  left: -5rem;
}
.scissors {
  box-shadow: 0 0 0 2rem $scissors-dark, inset 0 7px 2px 0 rgba(0, 0, 0, 0.2),
    0 1rem 0 2rem #b1801b;
  top: -5rem;
  right: -5rem;
}
.rock {
  box-shadow: 0 0 0 2rem $rock-dark, inset 0 7px 2px 0 rgba(0, 0, 0, 0.2),
    0 1rem 0 2rem #af354b;
  bottom: 3rem;
  left: 25%;
}
